<ion-content  padding class="background">
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="primary">
        <ion-col>
          <div padding>
            <ion-img style="width: 70%; height: auto; margin-top: 25px; display: block;margin: auto;" src="../../assets/img/logo_sr.png"
                padding>
            </ion-img>
          </div> 
          <ion-card>
            <ion-item class="backinput" style="margin-top: 16%;">
              <ion-img src="../../assets/icon/email25.png"></ion-img> 
              <ion-input style="--padding-start:10px;" name="email" type="email" placeholder="Email" padding="10" [(ngModel)]="inputEmail">
              </ion-input>
            </ion-item>

            <ion-item class="backinput" style="margin-top: 15%">
              <ion-img src="../../assets/icon/pass25.png"></ion-img>
              <ion-input style="--padding-start:10px;" name="password" type="password" placeholder="Password" padding="10" [(ngModel)]="inputPass"></ion-input>
            </ion-item>

            <ion-item lines="none" class="checkbox" style="padding-left: 4%">
              <ion-checkbox checked={{remembercheck}} ([ngModel])="remembercheck" (ionChange)="rememberme($event)" ></ion-checkbox>
              <ion-label style="padding-left: 2%;">Remember me</ion-label>
            </ion-item>
            
            <div>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" (click) = "presentAlert(inputEmail,inputPass)">Login</ion-button>
            </div>
            
            <div  text-center (click)="forgetPass()" style="text-align: center;margin: 5% 0% 5% 0%;">
            <ion-label>
                Forget Password
            </ion-label>
            </div>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer no-border transparent class="ion-text-center">

        <ion-text style="color: black; font-size: 0.6rem " >Copyright &copy; by Qube Apps Solutions Sdn Bhd</ion-text>

</ion-footer>