ion-content {
    --background: url('/assets/img/wallpaper.png')  0 0/100% 100%;
     background-size: cover;
}
ion-footer {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }