<ion-content [fullscreen]="true" style="--background:white">

<!-- HEADER -->
    <ion-grid>
      <ion-row>
        <ion-col size="7" style="font-weight:bold;align-self: center;font-size: 1.8em;">
          <ion-label>
            Dashboard
          </ion-label>
        </ion-col>

        <ion-col size="1">
          <mat-form-field [hidden]="true" style="width: 100% !important;margin: 0 !important;padding: 0 !important;height: auto;">
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="year"
                            (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </ion-col>

        <ion-col size="4" style="text-align: end;">
            <ion-button (click)="showSetOutlet()" fill="clear">
              <ion-img src="assets/icon/outlet.png"></ion-img>
            </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>


<!-- SELECT STORE -->
<ion-card *ngIf="outlethide" [@fadeInOut] style="width: 100% !important;margin: 0 !important;padding: 0 !important;height: auto;">
  <ion-card-content>
    <div class="scroll" scrollY="true" style="max-height: 500px;">
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Select Store : </ion-label>
          </ion-list-header>
          <ion-item *ngFor="let oi of outlet;let i = index">
            <ion-label>{{oi.name}}</ion-label>
            <ion-checkbox [checked]="oi.isCheck" (ionChange)="selectOutlet(oi,i,$event)">
            </ion-checkbox>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <ion-button color="success" expand="full" type="submit" (click)="changeOutlet()">DONE</ion-button>
  </ion-card-content>
</ion-card>

<!-- CONTENT -->
  <!-- <div class="chart-container">
    <div class="btndate">
      <ion-label size="small" style="margin-left:2%;">Daily</ion-label>
      <ion-label size="small" style="margin-left:2%;">Weekly</ion-label>
      <ion-label size="small" style="margin-left:2%;">Monthly</ion-label>
    </div>
      <canvas #barCanvas></canvas>
    </div> -->

  <div class="cardmiddleposition">

    <!-- <ion-card class="totalsalescard" (click)="goSalesPage()">
      <ion-card-header style="padding-bottom: 0px;margin-top:-10px;">
        DAILY TOTAL SALES
      </ion-card-header>
      <ion-card-content  style="text-align: center;">
        <ion-label class="my-label">{{totalSales}} <ion-icon style="float: right;" name="ios-cash"></ion-icon></ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card class="trxcard">
      <ion-card-header  style="padding-bottom: 0px;margin-top:-10px;">
        DAILY TOTAL TRANSACTION
      </ion-card-header>
      <ion-card-content  style="text-align: center;">
        <ion-label class="my-label">{{totalTrx}}<ion-icon style="float: right;" name="md-contacts"></ion-icon></ion-label>
      </ion-card-content>
    </ion-card> -->

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <apx-chart
            [chart]="radial.chart"
            [series]="radial.series"
            [plotOptions]="radial.plotOptions"
            [fill]="radial.fill"
            [labels]="radial.labels"
          ></apx-chart>
        </ion-col>
        <ion-col size="6" style="align-self:center;">
          <div style="padding-bottom: 8px;">
            <ion-label class="my-label">{{totalSales}}</ion-label>
          </div>
          <div style="padding-bottom: 8px;">
            <ion-label style="font-size:1.5em;font-weight:bold;color:black;">SALES</ion-label>
          </div>
          <div>
            <ion-label style="color:rgba(73, 73, 73, 0.541)">Total Transaction {{totalTrx}}</ion-label>
          </div>
        </ion-col>       
      </ion-row>
    </ion-grid>
    
    <div style="border-radius:35px; border:1px solid rgba(188, 216, 241, 0.329);background-color: rgba(188, 216, 241, 0.329);">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="salescard" (click)="HideTopOutlet()" *ngIf="checkReportType">
            <ion-card-header style="padding-bottom: 0px; font-size: 13px;color:#f7f0f0;">
              DAILY TOP OUTLET
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{largest}}</ion-label>
              <ion-label style="font-size: 13px;" class="my-label3">{{store}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="deptcard" (click)="HideTopDept()" *ngIf="checkReportType">
            <ion-card-header style="padding-bottom: 0px;font-size: 13px;color:#f7f0f0;">
              DAILY TOP DEPT
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{largetdept}}</ion-label>
              <ion-label style="font-size: 13px;" class="my-label3">{{deptstore}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="skucard" (click)="HideTopSKU()" *ngIf="checkReportType">
            <ion-card-header style="padding-bottom: 0px;font-size: 13px;color:#f7f0f0;">
              DAILY TOP SKU
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{largetsku}}</ion-label>
              <ion-label style="font-size: 13px;" class="my-label3">{{skustore}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="hourcard" (click)="HideTopHour()" *ngIf="checkReportType">
            <ion-card-header style="padding-bottom: 0px;font-size: 13px;color:#f7f0f0;">
              DAILY TOP HOURLY
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{hourcode}} o'clock</ion-label>
              <ion-label style="font-size: 13px;opacity: 0;" class="my-label3">0</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> 
    </ion-grid>

    <!-- <ion-col size="6">
          <ion-card (click)="onButtonTitleClicked($event, reportType)">
            <ion-card-header style="padding-bottom: 0px">
              {{titlesku}}
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{topSku}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card (click)="onButtonTitleClicked($event, reportType)">
            <ion-card-header style="padding-bottom: 0px">
              {{titledept}}
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{topDept}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card (click)="onButtonTitleClicked($event, reportType)">
            <ion-card-header style="padding-bottom: 0px">
              {{titlehour}}
            </ion-card-header>
            <ion-card-content  style="padding: 10px">
              <ion-label class="my-label2">{{topHour}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col> -->

    <!-- <ion-grid>
      <ion-row style="margin-top:-20px" >
        <ion-col size="6" >
          <ion-card style="background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);">
            <ion-label>
              <p style="font-size:0.7rem;margin: 0px;">Daily Top Outlet</p>
              <h1 style="font-size: 1.3rem;margin: 0px;color:black">{{largest}}</h1>
              <ion-note style="color:black">
                {{store}}
              </ion-note>
            </ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card style="background-image: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);">
            <ion-label>
              <p style="font-size:0.7rem;margin: 0px;">Daily Top Sku</p>
              <h1 style="font-size: 1.3rem;margin: 0px;color:black">RM 0</h1>
              <ion-note style="color:black">
                Product 1
              </ion-note>
            </ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card style="background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);">
            <ion-label>
              <p style="font-size:0.7rem;margin: 0px;">Daily Top Dept</p>
              <h1 style="font-size: 1.3rem;margin: 0px;color:black">{{largetdept}}</h1>
              <ion-note style="color:black">
                {{deptstore}}
              </ion-note>
            </ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card style="background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);">
            <ion-label>
              <p style="font-size:0.7rem;margin: 0px;">Daily Top Hour</p>
              <h1 style="font-size: 1.3rem;margin: 0px;color:black">{{hourcode}}</h1>
              <ion-note style="opacity:0">
                null
              </ion-note>
            </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-grid style="height: 60px;">
      <ion-row >
        <ion-col size="2" style="text-align: inherit;">
          <ion-button class="btndatebtmstyle" fill="clear" (click)="checkDay()">1D</ion-button>
        </ion-col>
        <ion-col size="2" style="text-align: inherit;">
          <ion-button class="btndatebtmstyle" fill="clear" (click)="checkWeek()">1W</ion-button>
        </ion-col>
        <ion-col size="2" style="text-align: inherit;">
          <ion-button class="btndatebtmstyle" fill="clear" (click)="dp.open()">1M</ion-button>
        </ion-col>
        <ion-col size="6" style="text-align: end;">
          <mat-date-range-input [rangePicker]="picker" hidden="true">
              <input matStartDate placeholder="Start date" (dateChange)="startC($event)">
              <input matEndDate placeholder="End date" (dateChange)="endC($event)">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </ion-col>
      </ion-row>  
    </ion-grid>

  <div *ngIf="TopOutletclicked">
    <ion-card style="background-color:white;border-radius: 20px;">
      <ion-label class="topten"> 
       <div style="display:contents;text-align: center;">TOP <ion-input class="inputvalue" value="{{qtn}}" type="tel" maxlength="3" [(ngModel)]="qtn"></ion-input>OUTLET</div>
      </ion-label>
      <ion-list style="height: 400px; overflow:scroll; background-color: transparent;">
        <ion-card class="ToptenCardOutlet" *ngFor="let totaldata of showall  | slice:0:10;" >
          <ion-card-content  style="padding: 10px;border-bottom: 0.5px solid rgb(187, 186, 186);">
              <ion-label class="Price">MYR {{ totaldata.Total|number:'1.2-2' }}</ion-label>
              <ion-label style="font-size: 13px;color:rgb(173, 173, 173)" class="my-label3">{{ totaldata.Desc }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="TopDeptclicked">
    <ion-card style="background-color:white;border-radius: 20px;">
      <ion-label class="topten">
        <div style="display:contents;text-align: center;">TOP <ion-input class="inputvalue" value="{{qtn}}" type="tel" maxlength="3" [(ngModel)]="qtn"></ion-input>DEPARTMENT</div>
      </ion-label>
      <ion-list style="height: 400px; overflow:scroll; background-color: transparent;">
        <ion-card *ngFor="let totaldata of showallDept | slice:0:10;" style="--webkit-box-shadow: none; box-shadow: none;background-color: transparent;border-bottom: 0.5px solid rgb(187, 186, 186);">
          <ion-card-content  style="padding: 10px;">
            <ion-label class="Price">MYR {{ totaldata.Total |number:'1.2-2' }}</ion-label>
            <ion-label style="font-size: 13px;color:rgb(173, 173, 173)" class="my-label3">{{ totaldata.Desc }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card>
  </div>

    <div *ngIf="TopSKUclicked">
      <ion-card style="background-color:white;border-radius: 20px;">
      <ion-label class="topten">
        <div style="display:contents;text-align: center;">TOP <ion-input class="inputvalue" value="{{qtn}}" type="tel" maxlength="3" [(ngModel)]="qtn"></ion-input>SKU</div>
      </ion-label>
      <ion-list style="height: 400px; overflow:scroll; background-color: transparent;">
      <ion-card *ngFor="let totaldata of showallsku | slice:0:10;" style="--webkit-box-shadow: none; box-shadow: none;background-color: transparent;border-bottom: 0.5px solid rgb(187, 186, 186);">
        <ion-card-content  style="padding: 10px;">
          <ion-label class="Price">MYR {{ totaldata.Total|number:'1.2-2'  }}</ion-label>
          <ion-label style="font-size: 13px;color:rgb(173, 173, 173)" class="my-label3">{{ totaldata.Desc }}</ion-label>
        </ion-card-content>
      </ion-card>
      </ion-list>
    </ion-card>
    </div>

    <div *ngIf="TopHourclicked">
      <ion-card style="background-color:white;border-radius: 20px;">
      <ion-label class="topten">
        TOP 10 HOURLY
      </ion-label>
      <ion-list style="height: 400px; overflow:scroll; background-color: transparent;">
        <ion-card *ngFor="let totaldata of showallhour" style="--webkit-box-shadow: none; box-shadow: none;background-color: transparent;border-bottom: 0.5px solid rgb(187, 186, 186);">
          <ion-card-content  style="padding: 10px;">
            <!-- <ion-label class="my-label2" [routerLink]="['/Desc', totaldata.Desc]">{{totaldata.Code}} O'Clock</ion-label> -->
          </ion-card-content>
        </ion-card>
        </ion-list>
      </ion-card>
    </div>

    <div class="btn-position"><ion-label class="btn-filter" (click)="clicked()" fill="clear">Filter <ion-icon style="padding-left: 10px;" name="filter-outline" ></ion-icon></ion-label></div>

    <!-- <ion-card style="max-height: 250px;--border-radius: 5px;padding: 0px;">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [dataLabels]="chartOptions.dataLabels"
        ></apx-chart>
      </div>
    </ion-card> -->
    <!-- <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card> -->

    <!-- <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card> -->

    <!-- <div class="chart-container">
      <canvas #doughnutCanvas></canvas>
    </div> -->
    
    <!-- <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card> -->
  </div>
</div>
</ion-content>